body {
    font-family: "Roboto Light", sans-serif;
    background-color: rgba(226, 195, 105, 0.6);
}
.page {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.h1{
    text-align: center;
    grid-column: 1/-1;

}

.todo-card {
    display: grid;
    grid-gap: 10px;
    border: 1px solid black;
    border-radius: 15px;
    height: 100px;
    width: auto;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    background-color: white;
}

.column {
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    background-color: rgba(250, 235, 215, 0.8);

}

.todo-card.new-todo{
    display: grid;
    grid-gap: 10px;
}

.todo-card.new-todo input{
    width: 100%;
    border-width: 0 0 1px 0;
    padding-top: 20px;
    height: 20px;
}

.todo-card.new-todo button{
    justify-self: end;
    height: 20px;
}

.delete-button{
    justify-content: end;
    height: 20px;
}

